.list {
  gap: 20px;
  display: flex;
  /* width: 600px; */
  flex-wrap: wrap;
  /* justify-content: center; */
  flex: 2;
  /* flex-wrap: nowrap; */
}
.loadMore {
  display: flex;
  flex-direction: row;
}
/* .container {
  display: flex;
  flex-wrap: wrap;
} */
